@import url("https://fonts.googleapis.com/css2?family=Lilita+One&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  height: 100vh;
  font-family: "Lilita One", Arial, sans-serif;
  background-color: #0a0a0a;
  color: #ffffff;
  display: flex;
  flex-direction: column;
}

header {
  width: 100%;
  height: 110px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 50px;
  border-bottom: 0.5px solid gray;

  .logo {
    width: 240px;
    height: 90px;
    display: flex;
  }

  nav {
    display: flex;
    justify-content: center;
    align-items: center;

    ul {
      list-style: none;
      display: flex;

      li {
        a {
          text-decoration: none;
          color: #ffffff;
          font-size: 30px;

          &:hover {
            color: #ff8205;
            transform: scale(1.1);
            transition: all 0.3s ease-in-out;
          }
        }
      }
    }
  }
}

.title {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 100px;
  margin-bottom: 100px;
  font-size: 50px;
}

main {
  display: flex;
  justify-content: space-around;

  .dados {
    width: 669px;
    height: 482px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: -100px;

    form {
      display: flex;
      justify-content: center;
      flex-direction: column;
      gap: 55px;
      font-size: 30px;
      margin-top: 300px;

      .dados-cliente {
        input {
          width: 450px;
          height: 60px;
          border-radius: 30px;
          background-color: #6e6e6e;
          color: #0a0a0a;
          font-size: 1.3rem;
          font-family: "Lilita One", Arial, sans-serif;
          padding: 0 20px;
          border: 0.5px solid #ffffff;
          margin-top: 12px;
        }
      }
    }
  }

  .services-data {
    form {
      h2 {
        margin-bottom: 10px;
        margin-top: 30px;
      }
    }

    .container {
      h2 {
        margin-top: 30px;
      }

      .calendar {
        background: #1e1e1e;
        border-radius: 8px;
        padding: 0.5rem;
      }
      .weekdays,
      .days {
        display: grid;
        grid-template-columns: repeat(7, 1fr);
        text-align: center;
      }
      .weekdays div {
        padding: 0.5rem 0;
        font-weight: bold;
      }
      .days div {
        margin: 0.2rem;
        padding: 0.5rem 0;
        cursor: pointer;
        border-radius: 4px;
      }
      .days div:hover {
        background: #333;
      }
      .days .today {
        background: #333;
      }
      .days .selected {
        background: #ff8205;
      }
      .timeslots {
        display: flex;
        flex-wrap: wrap;
        margin-top: 1rem;
      }
      .timeslots button {
        flex: 1 1 30%;
        margin: 0.3rem;
        padding: 0.6rem 0;
        border: none;
        border-radius: 4px;
        cursor: pointer;
        background: #ff8205;
        color: #121212;
        font-weight: bold;
      }
      .timeslots button.selected {
        background: #ffa733;
      }
      .timeslots button:disabled {
        background: #555;
        cursor: not-allowed;
      }
    }
  }
}

select {
  width: 270px;
  height: 40px;
  border-radius: 30px;
  background-color: #6e6e6e;
  color: #ffffff;
  font-size: 1rem;
  padding: 0 20px;
  border: 0.5px solid #ffffff;
}

option {
    color: #ffffff;
    font-family: "Lilita One", Arial, sans-serif;
}

.confirm-btn {
  width: 300px;
  height: 60px;
  border-radius: 20px;
  background-color: #ff8205;
  grid-column: 1 / -1; /* da coluna 1 até a última */
  justify-self: center; /* centraliza o botão horizontalmente */
  margin-top: 2rem;
  margin-bottom: 100px;
  color: #ffffff;
  font-family: 'Lilita One', Arial, sans-serif;
  font-size: 1.2rem;
  cursor: pointer;
}

input[type="date"],
input[type="time"] {
  width: 270px;
  height: 40px;
  border-radius: 30px;
  background-color: #6e6e6e;
  color: #ffffff;
  font-size: 1rem;
  padding: 0 20px;
  border: 0.5px solid #ffffff;
  font-family: "Lilita One", Arial, sans-serif;
  appearance: none; /* remove aparência padrão */
  -webkit-appearance: none;
  -moz-appearance: none;
}

input[type="date"]::-webkit-calendar-picker-indicator,
input[type="time"]::-webkit-calendar-picker-indicator {
  filter: invert(1); /* deixa o ícone branco */
  cursor: pointer;
}