@import url("https://fonts.googleapis.com/css2?family=Lilita+One&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  height: 100vh;
  font-family: "Lilita One", Arial, sans-serif;
  background-color: #0a0a0a;
  color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 100px;
}

.logo {
  img {
    width: 534px;
    height: 195px;
  }
}

.linha-vertical {
    height: 500px;
    border-left: 2px solid gray;
}

.login-acess {
    display: flex;
    flex-direction: column;

    h1 {
        font-size: 64px;
        margin-bottom: 35px;
    }

    form {
        display: flex;
        flex-direction: column;
        gap: 15px;

        input {
            width: 400px;
            height: 80px;
            border-radius: 30px;
            padding-left: 20px;
            font-size: 20px;
            font-family: 'Lolita One', Arial, sans-serif;
            background-color: #1f1f1f;
            color: #ffffff;
            border: none;
        }
    }

    .checkbox-container {
        display: flex;
        align-items: center;
        gap: 10px;
        font-size: 1.5rem;
        font-weight: bold;
        margin-top: 20px;

        input {
            width: 24px;
            height: 24px;
            border: 2px solid #ffffff;
            border-radius: 6px;
            background-color: transparent;
            cursor: pointer;
            position: relative;
        }
    }

    .solicitation {
        margin-top: 20px;
    }

    .entrar {
        background-color: #ff8205;
        width: 400px;
        height: 80px;
        border-radius: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 30px;

        a {
            text-decoration: none;
            color: #ffffff;

            p {
                font-size: 40px;
                font-family: "Lilita One", Arial, sans-serif;
            }
        }
    }

    .cadastrar {
        width: 400px;
        height: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 10px;

        a {
            text-decoration: none;
            color: #ffffff;

            p {
                font-size: 25px;
                font-family: "Lilita One", Arial, sans-serif;
            }
        }
    }
}
