@import url("https://fonts.googleapis.com/css2?family=Lilita+One&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  height: 100vh;
  font-family: "Lilita One", Arial, sans-serif;
  background-color: #0a0a0a;
  color: #ffffff;
}

header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 110px;
  border-bottom: 0.5px solid gray;

  .logo {
    .logo-lion {
      width: 240px;
      height: 90px;
    }
  }

  .services {
    height: 55px;
    list-style: none;
    gap: 30px;
    display: flex;
    justify-content: center;
    align-items: center;

    .agendar {
      width: 150px;
      height: 45px;
      background-color: #ff8205;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 20px;

      &:hover {
        background-color: #ffffff;
        transform: scale(1.1);
      }
    }

    li {
      display: flex;
      transition: all 0.3s ease-in-out;

      a {
        text-decoration: none;
        color: #ffffff;
        font-size: 21.5px;

        &:hover {
          color: #ff8205;
          transform: scale(1.1);
          transition: all 0.3s ease-in-out;
        }
      }

      &:hover {
        transform: scale(1.1);
      }
    }
  }
}

main {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 0px;

  .content {
    margin-top: 100px;
    width: 780px;
    height: 704px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 0px 0px 0px 100px;

    h1 {
      font-size: 90px;
    }

    .btn-agenda {
      width: 530px;
      height: 101px;
      background-color: #ff8205;
      border-radius: 20px;
      cursor: pointer;
      display: flex;
      align-items: center;
      justify-content: center;

      a {
        color: #ffffff;
        text-decoration: none;

        &:hover {
          color: #002A32;
        }
      }

      p {
        font-size: 40px;
        font-family: "Lilita One", Arial, sans-serif;
      }

      &:hover {
        transform: scale(1.05);
        transition: all 0.2s ease-in-out;
      }
    }
  }

  .car-img {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 858px;
    height: 790px;
    padding-left: 100px;
  }
}