{% extends "base.html" %}

{% block title %} Agendar Serviço {% endblock%}

{% block header %}
<div class="header">
    <a href="{{ url_for('home') }}" class="voltar">
        <img src="/static/images/back-icon.svg" alt="Voltar" class="logo-voltar">
        Voltar
    </a>
    <h2 class="titulo-pagina">Detalhes do Agendamento</h2>
    <a href="{{ url_for('logout') }}" class="sair">Sair</a>
</div>
{% endblock %}

{% block content %}

<h2>Agendar Serviço</h2>
<form method="post" action="{{ url_for('agendar_servico') }}" class="padding"> 

    <label for="veiculo">Tipo do veículo</label>
    <select id="veiculo_tipo" name="veiculo_tipo" required>
        <option value="">Selecione</option>
        {% for veiculo_tipo in veiculo_tipos %}
            <option value="{{ veiculo_tipo.id }}">{{ veiculo_tipo.nome }}</option>
        {% endfor %}
    </select>

    <label for="servico">Serviço</label>
    <select id="servico" name="servico" required>
        <option value="">Selecione</option>
        {% for servico in servicos %}
            <option value="{{ servico.id }}">{{ servico.nome }}</option>
        {% endfor %}
    </select>

    <label for="data">Data</label>
    <input type="date" id="data" name="data" required>

    <label for="hora">Horário</label>
    <input type="time" id="hora" name="hora" required>

    <button type="submit">Agendar</button>
</form>

{% endblock %}
