{% extends "base.html" %}

{% block head %}
  {{ super() }}
  <link rel="stylesheet" href="{{ url_for('static', filename='css/agendamento.css') }}">
{% endblock %}

{% block title %} Agendamento {% endblock %}

{% block header %}
  <header>
    <a class="logo" href="{{ url_for('home') }}">
      <img src="{{ url_for('static', filename='images/Logo Lion.svg') }}" alt="logo-site" class="logo-lion"/>
    </a>
    <nav>
      <ul>
        <li><a href="{{ url_for('contato') }}">Contatos</a></li>
        {% if session["id"] %}
          <li><a href="{{url_for('logout')}}" class="margin-left30">Sair</a></li>
        {% endif %}
      </ul>
    </nav>
  </header>
{% endblock %}

{% block content %}
  <div class="title">
    <h1>Agendamento</h1>
  </div>

  <main>
    <section class="dados">
      <form method="post" action="{{ url_for('agendamento')}}">
        <div class="dados-cliente">
          <h2>Tipo do veculo:</h2>
          <select id="veiculo_tipo" name="veiculo_tipo" required>
              <option value="">Selecione</option>
              {% for veiculo_tipo in veiculo_tipos %}
                  <option value="{{ veiculo_tipo.id }}">{{ veiculo_tipo.nome }}</option>
              {% endfor %}
          </select>
        </div>
        <section class="services-data">

        <h2>Escolha o serviço</h2>
        <select id="servico" name="servico" required>
            <option value="">Selecione</option>
            {% for servico in servicos %}
                <option value="{{ servico.id }}">{{ servico.nome }}</option>
            {% endfor %}
        </select>
        <h2 class="margin-top55">Escolha o dia e horário</h2>

        <div class="margin-top16">
        <label for="data" class="margin-top16">Data:</label>
        <input type="date" id="data" name="data" required>
        </div>
        <div class="margin-top16">
          <label for="hora">Horário:</label>
          <input type="time" id="hora" name="hora" required>
        </div>

        <button type="submit" class="confirm-btn">CONFIRMAR</button>
        </section>
      </div>
      <script src="{{ url_for('static', filename='javascript/agendamento.js') }}"></script>

      </form>
    </section>
  </main>
{% endblock %}

