{% extends "base.html" %}

{% block head %}
  {{ super() }}
  <link rel="stylesheet" href="{{ url_for('static', filename='css/cadastro.css') }}">
{% endblock %}

{% block header %}
  <section class="logo">
    <a href="{{ url_for('home') }}">
      <img src="{{ url_for('static', filename='images/Logo Lion.svg') }}" alt="logo-lion">
    </a>
  </section>
{% endblock %}

{% block content %}
  <div class="linha-vertical"></div>

  <section class="login-acess">
    <h1>Cadastrar</h1>

    <form action="{{ url_for('cadastrar_cliente') }}" method="post">
      <input type="text" name="nome" placeholder="Nome" required />
      <input type="email" name="email" placeholder="E-mail" required />
      <input type="password" name="senha" placeholder="Senha" required />

      <div class="checkbox-container">
        <input type="checkbox" id="colaborador" name="colaborador" />
        <label for="colaborador">Colaborador?</label>
      </div>

      <p class="solicitation">Será enviada uma solicitação de acesso</p>

      <button type="submit" class="entrar">CADASTRAR</button>
    </form>
  </section>
{% endblock %}
