{% extends "base.html" %}

{% block title %}Detalhes do Agendamento{% endblock %}

{% block head %} 

{{ super() }}
<link rel="stylesheet" href="/static/css/detalhes_agendamento.css">

{% endblock %}

{% block header %}
<div class="header">
    <a href="{{ url_for('servicos_agendados') }}" class="voltar">
        <img src="/static/images/back-icon.svg" alt="Voltar" class="logo-voltar">
        Voltar
    </a>
    <h2 class="titulo-pagina">Detalhes do Agendamento</h2>
    <a href="{{ url_for('logout') }}" class="sair">Sair</a>
</div>
{% endblock %}

{% block content %}
<div class="container-agendamento-detalhes">
    <div class="card-detalhes">
        {% if session["admin"] or session["funcionario"] %}
            <p><strong>Cliente:</strong> {{ agendamento.cliente_nome }}</p>
        {% endif %}
        <p><strong>Veículo:</strong> {{ agendamento.veiculo_tipo_nome }}</p>
        <p><strong>Serviço:</strong> {{ agendamento.servico_nome }}</p>
        <p><strong>Data/Hora:</strong> {{ agendamento.data_hora_agendamento }}</p>
        <p><strong>Status:</strong> {{ agendamento.status_descricao }}</p>
        <!-- <p><strong>Preço:</strong> R$ {{ agendamento.preco }}</p> -->

        {% if session["admin"] or session["funcionario"] %}
            {% if agendamento.status_descricao == 'Agendado' %}
                <form method="post" action="{{ url_for('iniciar_agendamento', agendamento_id=agendamento.id) }}">
                    <button type="submit" class="botao-status iniciar">Iniciar Serviço</button>
                </form>
            {% elif agendamento.status_descricao == 'Em Andamento' %}
                <form method="post" action="{{ url_for('finalizar_agendamento', agendamento_id=agendamento.id) }}">
                    <button type="submit" class="botao-status finalizar">Finalizar Serviço</button>
                </form>
            {% endif %}
        {% else %}
            {% if agendamento.status_descricao != 'Cancelado' %}
                <form action="{{ url_for('cancelar_agendamento', agendamento_id=agendamento.id) }}" method="post" style="display: inline;">
                    <button type="submit" class="botao-cancelar">Cancelar</button>
                </form>
            {% endif %}
        {% endif %}
    </div>
</div>
{% endblock %}
