{% extends "base.html" %}

{% block title %} Histórico de Lavações {% endblock %}

{% block head %} 

{{ super() }}
<link rel="stylesheet" href="/static/css/historico_cliente.css">

{% endblock %}

{% block header %}
<div class="header">
    <a href="{{ url_for('home') }}" class="voltar">
        <img src="/static/images/back-icon.svg" alt="Voltar" class="logo-voltar">
        Voltar
    </a>
    <h2 class="titulo-pagina">Histórico de Lavações</h2>
    <a href="{{ url_for('logout') }}" class="sair">Sair</a>
</div>
{% endblock %}

{% block content %}

<main>
    <h2>Histórico de Lavações</h2>
    <div class="historico">
        <div class="item">
            <strong>Data:</strong> 01/05/2025
            <strong>Serviço:</strong> Lavagem Simples
            <strong>Status:</strong> Concluído
            <strong>Valor:</strong> R$ 30,00
        </div>
        <div class="item">
            <strong>Data:</strong> 20/04/2025
            <strong>Serviço:</strong> Lavagem Completa
            <strong>Status:</strong> Concluído
            <strong>Valor:</strong> R$ 60,00
        </div>
        <div class="item">
            <strong>Data:</strong> 10/04/2025
            <strong>Serviço:</strong> Lavagem Simples
            <strong>Status:</strong> Concluído
            <strong>Valor:</strong> R$ 30,00
        </div>
        <!-- Mais registros podem ser adicionados aqui -->
    </div>

    <button class="novo-agendamento" onclick="">
        Novo Agendamento
    </button>
</main>

{% endblock %}