{% extends "base.html" %}

{% block head %}
  {{ super() }}
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
  <title>Home - Lion</title>
{% endblock %}

{% block header %}
  <header>
    <a class="logo" href="{{ url_for('home') }}">
      <img src="{{ url_for('static', filename='images/Logo Lion.svg') }}" alt="logo-site" class="logo-lion">
    </a>

    <ul class="services">
      <li><a href="{{ url_for('servicos') }}">Serviços</a></li>
      <li><a href="{{ url_for('avaliacoes') }}">Avaliações</a></li>
      <li><a href="{{ url_for('contato') }}">Contato</a></li>
      {% if session["id"] %}
        <li><a href="{{url_for('logout')}}">Sair</a></li>
      {% else %}
        <li class="agendar"><a href="{{ url_for('login') }}">FAZER LOGIN</a></li>
      {% endif %}
    </ul>
  </header>
{% endblock %}

{% block content %}
  <main>
    <section class="content">
      <h1>Detalhes que valorizam seu carro</h1>

      <div class="btn-agenda">
        <a href="{{ url_for('agendamento') }}">
          <p>AGENDE SEU HORÁRIO</p>
        </a>
      </div>
    </section>

    <section class="car-img">
      <img src="{{ url_for('static', filename='images/Carro 1 bmw.svg') }}" alt="carro">
    </section>
  </main>
{% endblock %}
