{% extends "base.html" %}

{% block title %} AutoCar - Início {% endblock %}

{% block header %}

<div class="header">
    <a href="{{ url_for('home' ) }}" class="voltar">
        <img src="/static/images/back-icon.svg" alt="Logo voltar" class="logo-voltar"> 
        Voltar
    </a>
    <h2 class="titulo-pagina">AutoCar</h2>
    <a href="{{ url_for('logout') }}" class="sair">Sair</a>
</div>

{% endblock %}

{% block content %}

<div class="container">

    <div class="menu-central">
        <a href="{{ url_for('home') }}" class="botao">
            <img src="/static/images/home-icon.svg" class="icone" alt="Ícone Início">
            Início
        </a>
        {% if session["admin"] == False and session["funcionario"] == False %}
            <a href="{{ url_for('agendar_servico') }}" class="botao">
                <img src="/static/images/calendar-icon.svg" class="icone" alt="Ícone Agendar">
                Agendar serviço
            </a>
        {% endif %}
        <a href="{{ url_for('meus_veiculos') }}" class="botao">
            <img src="/static/images/car-icon.svg" class="icone" alt="Ícone Veículos">
            Meus veículos
        </a>
        {% if session["funcionario"] or session["admin"] %}
            <a href="{{ url_for('cadastrar_servico') }}" class="botao">
                <img src="/static/images/document-icon.svg" class="icone" alt="Ícone Cadastro">
                Cadastrar serviço
            </a>
            <a href="{{ url_for('relatorio') }}" class="botao">
                <img src="/static/images/report-icon.svg" class="icone" alt="Ícone Relatório">
                Relatório do Dia
            </a>
        {% endif %}
        <a href="{{ url_for('servicos_agendados') }}" class="botao">
            <img src="/static/images/list-icon.svg" class="icone" alt="Ícone Lista de Serviços">
            {% if session["funcionario"] or session["admin"] %}
                Serviços agendados
            {% else %}
                Meus agendamentos
            {% endif %}
        </a>
        <a href="{{ url_for('perfil') }}" class="botao">
            <img src="/static/images/user-icon.svg" class="icone" alt="Ícone Perfil">
            Perfil
        </a>
    </div>
</div>

{% endblock %}