{% extends "base.html" %}

{% block head %}
    {{ super() }}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/login.css') }}">
{% endblock %}

{% block header %}
    <section class="logo">
        <a href="{{ url_for('home') }}"><img src="{{ url_for('static', filename='images/Logo Lion.svg') }}" alt="logo-lion"></a>
    </section>
{% endblock %}

{% block content %}
    <div class="linha-vertical"></div>

    <section class="login-acess">
        <h1>Acesso</h1>

        <form action="{{ url_for('login') }}" method="post">
            <input type="email" name="email" placeholder="E-mail" required>
            <input type="password" name="senha" placeholder="Senha" required>

            <button type="submit" class="entrar">ENTRAR</button>
        </form>

        <!-- <a class="recover-password" href="{{ url_for('cadastrar_cliente') }}">
            <p>Esqueci minha senha</p>
        </a> -->

        <div class="cadastrar">
            <a href="{{ url_for('cadastrar_cliente') }}"><p>CADASTRAR</p></a>
        </div>
    </section>
{% endblock %}
