{% extends "base.html" %}

{% block title %}Serviços Agendados{% endblock %}

{% block header %}
<div class="header">
    <a href="{{ url_for('home') }}" class="voltar">
        <img src="/static/images/back-icon.svg" alt="Voltar" class="logo-voltar">
        Voltar
    </a>
    <h2 class="titulo-pagina">
        {% if session["funcionario"] or session["admin"] %}
            Serviços agendados
        {% else %}
            Meus agendamentos
        {% endif %}
    </h2>
    <a href="{{ url_for('logout') }}" class="sair">Sair</a>
</div>
{% endblock %}

{% block content %}
<div class="container-agendamentos">
    <form method="get" action="{{ url_for('servicos_agendados') }}" class="form-filtro">
        <label for="data">Filtrar por data:</label>
        <input type="date" id="data" name="data" value="{{ request.args.get('data', '') }}">
        <button type="submit">Filtrar</button>
    </form>
    {% if servicos_agendados %}
        <div class="grid-agendamentos">
            {% for servico_agendado in servicos_agendados %}
                <a href="{{ url_for('detalhes_agendamento', id=servico_agendado.id) }}" class="card-agendamento-link">
                    <div class="card-agendamento">
                        {% if session["admin"] or session["funcionario"] %}
                            <p><strong>Cliente:</strong> {{ servico_agendado.cliente_nome }}</p>
                        {% endif %}
                        <p><strong>Veículo:</strong> {{ servico_agendado.veiculo_tipo_nome }}</p>
                        <p><strong>Serviço:</strong> {{ servico_agendado.servico_nome }}</p>
                        <p><strong>Agendado para:</strong> {{ servico_agendado.data_hora_agendamento }}</p>
                        <p><strong>Status:</strong> {{ servico_agendado.status_descricao }}</p>
                    </div>
                </a>
            {% endfor %}
        </div>
    {% else %}
        <p>Nenhum serviço agendado encontrado.</p>
    {% endif %}
</div>
{% endblock %}
